
@{
    ViewBag.Title = "ConfrimOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đơn hàng của chúng tôi đã ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất</h2>
<p>
    @Html.ActionLink("Về trang chủ","Index","Books")
</p>

